<h2>Lista de distribución</h2>

<p>Cuando el usuario va a crear una cuenta, se les preguntará si desean suscribirse a estas listas de correo</p>

<%= link_to t("Añadirse a la lista de correo"), new_admin_mailing_list_path -%>
<br/><br/>

<h1><%= t("Listado de listas de distribución") %></h1>

<table class="admin-report">
  <tr>
    <th width="50%"><%= t("Name") %></th>
    <th><%= t("Action") %></th>
  </tr>
  
<% for mailing_list in @mailing_lists %>
  <tr>
    <td>
        <%= mailing_list.name %>
    </td>
    <td>
      <%= link_to t('Exportar emails a formato CSV'), [:admin, mailing_list] %> |
      <%= link_to t('Editar'), [:edit, :admin, mailing_list] %> | 
      <%= link_to t('Elimina'), [:admin, mailing_list], :method => :delete, :confirm => t('¿Estás seguro de que deseas eliminar esta lista de distribución?') %>
    </td>
  </tr>
<% end %>
</table>
<br />
<%= link_to "Volver a la configuración", :controller => "admin/configurations" %>